In [1]:
import numpy as np
import pandas as pd
import geopandas as gpd

import warnings
warnings.filterwarnings('ignore')

In [2]:
customer = gpd.read_file('data/customer/customer.shp', encoding='utf-8')
depot = gpd.read_file('data/depot/depot.shp', encoding='utf-8')

In [3]:
customer

     demand                    geometry
0         4  POINT (129.30874 35.53929)
1        14  POINT (129.30646 35.55075)
2         1  POINT (129.30748 35.54611)
3         8  POINT (129.30782 35.54892)
4        20  POINT (129.30803 35.53915)
..      ...                         ...
773      20  POINT (129.36066 35.49405)
774      13  POINT (129.31043 35.50025)
775      17  POINT (129.31885 35.51447)
776      18  POINT (129.35167 35.50559)
777      11  POINT (129.32185 35.50857)

[778 rows x 2 columns]

In [4]:
depot

             area                                           geometry
0     2027.349061  POLYGON ((129.25622 35.53572, 129.25621 35.535...
1     4658.451374  POLYGON ((129.25632 35.53712, 129.25632 35.537...
2      536.259984  POLYGON ((129.25677 35.53804, 129.25653 35.538...
3     2047.600873  POLYGON ((129.25720 35.53730, 129.25639 35.537...
4     2175.693130  POLYGON ((129.25699 35.53762, 129.25624 35.537...
..            ...                                                ...
134   1917.137055  POLYGON ((129.37429 35.47021, 129.37456 35.470...
135  18128.697741  POLYGON ((129.37528 35.47054, 129.37512 35.470...
136    819.768807  POLYGON ((129.38388 35.47571, 129.38385 35.475...
137    187.022532  POLYGON ((129.38403 35.47612, 129.38404 35.476...
138    645.744584  POLYGON ((129.38395 35.47637, 129.38395 35.476...

[139 rows x 2 columns]